Repository mini-moment/mimo-android, pull requests merged in 2024-05, with the labels that each got.

#19 signUpAPI & DataSource 분리, Api Response 수정
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mimo/android/core/di/ApiModule.kt
  app/src/main/java/com/mimo/android/core/di/DataSourceModule.kt
  app/src/main/java/com/mimo/android/core/di/NetworkModule.kt
  app/src/main/java/com/mimo/android/core/di/RepositoryModule.kt
  app/src/main/java/com/mimo/android/data/datasource/local/LocalDataSource.kt
  app/src/main/java/com/mimo/android/data/datasource/local/LocalDataSourceImpl.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/UserRemoteDataSource.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/UserRemoteDataSourceImpl.kt
  app/src/main/java/com/mimo/android/data/model/request/UserRequest.kt
  app/src/main/java/com/mimo/android/data/model/response/ApiResponse.kt
  app/src/main/java/com/mimo/android/data/model/response/LoginResponse.kt
  app/src/main/java/com/mimo/android/data/model/response/UserSignUpResponse.kt
  app/src/main/java/com/mimo/android/data/network/api/UserApi.kt
  app/src/main/java/com/mimo/android/data/network/login/NaverLoginManager.kt
  app/src/main/java/com/mimo/android/data/repository/DataStoreRepository.kt
  app/src/main/java/com/mimo/android/data/repository/UserRepository.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/DataStoreRepositoryImpl.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/UserRepositoryImpl.kt
  app/src/main/java/com/mimo/android/data/response/LoginResponse.kt
  app/src/main/java/com/mimo/android/presentation/login/LoginEvent.kt
  app/src/main/java/com/mimo/android/presentation/login/LoginViewModel.kt
  app/src/main/java/com/mimo/android/presentation/splash/SplashViewModel.kt
  app/src/main/java/com/mimo/android/util/ErrorCode.kt
  app/src/main/java/com/mimo/android/util/ErrorMessage.kt
Labels: 📱Feat, 🎨UI, 💡 Enhance

#26 Feat/naver map marker setting
  app/src/main/java/com/mimo/android/domain/model/MarkerData.kt
  app/src/main/java/com/mimo/android/presentation/base/BaseMapFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MapFragment.kt
  app/src/main/java/com/mimo/android/presentation/mypage/MyPageFragment.kt
  app/src/main/java/com/mimo/android/presentation/util/MapUtil.kt
Labels: 📱Feat

#29 ApiHandler 구현하기
  app/src/main/java/com/mimo/android/data/model/request/UserRequest.kt
  app/src/main/java/com/mimo/android/data/model/response/ApiResponse.kt
  app/src/main/java/com/mimo/android/data/model/response/ErrorResponse.kt
  app/src/main/java/com/mimo/android/data/model/response/UserSignUpResponse.kt
  app/src/main/java/com/mimo/android/data/network/login/NaverLoginManager.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/UserRepositoryImpl.kt
  app/src/main/java/com/mimo/android/presentation/login/LoginEvent.kt
  app/src/main/java/com/mimo/android/util/ErrorCode.kt
Labels: 📱Feat

#31 비디오 업로드 UI 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mimo/android/core/di/NetworkModule.kt
  app/src/main/java/com/mimo/android/presentation/MainActivity.kt
  app/src/main/java/com/mimo/android/presentation/base/BaseActivity.kt
  app/src/main/java/com/mimo/android/presentation/login/LoginActivity.kt
  app/src/main/java/com/mimo/android/presentation/splash/SplashActivity.kt
  app/src/main/java/com/mimo/android/presentation/video/UploadVideoFragment.kt
  app/src/main/java/com/mimo/android/presentation/video/VideoActivity.kt
  app/src/main/res/drawable/ic_back_space.xml
  app/src/main/res/drawable/ic_upload.png
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_video.xml
  app/src/main/res/layout/fragment_upload_video.xml
  app/src/main/res/navigation/video_nav_graph.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/string-video.xml
  app/src/main/res/values/strings.xml
Labels: 📱Feat, 🎨UI

#32 UI/ 바텀네비게이션 탭 아이콘 변경
  app/build.gradle.kts
  app/src/main/res/drawable-hdpi/ic_map_selected.png
  app/src/main/res/drawable-hdpi/ic_map_unselected.png
  app/src/main/res/drawable-hdpi/ic_user_unselected.png
  app/src/main/res/drawable-mdpi/ic_map_selected.png
  app/src/main/res/drawable-mdpi/ic_map_unselected.png
  app/src/main/res/drawable-mdpi/ic_user_unselected.png
  app/src/main/res/drawable-xhdpi/ic_map_selected.png
  app/src/main/res/drawable-xhdpi/ic_map_unselected.png
  app/src/main/res/drawable-xhdpi/ic_user_unselected.png
  app/src/main/res/drawable-xxhdpi/ic_map_selected.png
  app/src/main/res/drawable-xxhdpi/ic_map_unselected.png
  app/src/main/res/drawable-xxhdpi/ic_user_unselected.png
  app/src/main/res/drawable-xxxhdpi/ic_map_selected.png
  app/src/main/res/drawable-xxxhdpi/ic_map_unselected.png
  app/src/main/res/drawable-xxxhdpi/ic_user_unselected.png
  app/src/main/res/drawable/ic_user_selected.xml
  app/src/main/res/drawable/main_fab.xml
  app/src/main/res/drawable/selector_ic_map.xml
  app/src/main/res/drawable/selector_ic_user.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/menu/menu_main.xml
  app/src/main/res/values/colors.xml
Labels: 🎨UI

#36 해시태그 API 구현 및 Ui Event 적용
  app/build.gradle.kts
  app/src/main/java/com/mimo/android/core/di/ApiModule.kt
  app/src/main/java/com/mimo/android/core/di/DataSourceModule.kt
  app/src/main/java/com/mimo/android/core/di/RepositoryModule.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/TagRemoteDataSource.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/TagRemoteDataSourceImpl.kt
  app/src/main/java/com/mimo/android/data/model/response/TagsResponse.kt
  app/src/main/java/com/mimo/android/data/network/api/TagApi.kt
  app/src/main/java/com/mimo/android/data/repository/TagRepository.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/TagRepositoryImpl.kt
  app/src/main/java/com/mimo/android/domain/model/TagData.kt
  app/src/main/java/com/mimo/android/presentation/video/UploadVideoFragment.kt
  app/src/main/java/com/mimo/android/presentation/video/VideoActivity.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/TagListAdapter.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoBindingAdpater.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoEvent.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoFragment.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoUiState.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoViewModel.kt
  app/src/main/java/com/mimo/android/util/ErrorMessage.kt
  app/src/main/res/drawable/back_ground_hash_tag_group.xml
  app/src/main/res/drawable/ic_hash_tag.xml
  app/src/main/res/layout/fragment_upload_video.xml
  app/src/main/res/layout/item_tag.xml
  app/src/main/res/navigation/video_nav_graph.xml
Labels: 📱Feat, 🎨UI

#40 게시글 작성 구현
  app/src/main/java/com/mimo/android/core/di/ApiModule.kt
  app/src/main/java/com/mimo/android/core/di/DataSourceModule.kt
  app/src/main/java/com/mimo/android/core/di/NetworkModule.kt
  app/src/main/java/com/mimo/android/core/di/RepositoryModule.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/PostRemoteDataSource.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/PostRemoteDataSourceImpl.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/VideoRemoteDataSource.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/VideoRemoteDataSourceImpl.kt
  app/src/main/java/com/mimo/android/data/model/request/InsertPostRequest.kt
  app/src/main/java/com/mimo/android/data/model/response/InsertPostResponse.kt
  app/src/main/java/com/mimo/android/data/model/response/UploadVideoResponse.kt
  app/src/main/java/com/mimo/android/data/network/AccessTokenInterceptor.kt
  app/src/main/java/com/mimo/android/data/network/NetworkContract.kt
  app/src/main/java/com/mimo/android/data/network/api/PostApi.kt
  app/src/main/java/com/mimo/android/data/network/api/VideoApi.kt
  app/src/main/java/com/mimo/android/data/repository/PostRepository.kt
  app/src/main/java/com/mimo/android/data/repository/VideoRepository.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/DataStoreRepositoryImpl.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/PostRepositoryImpl.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/VideoRepositoryImpl.kt
  app/src/main/java/com/mimo/android/domain/model/PostData.kt
  app/src/main/java/com/mimo/android/presentation/util/ErrorMessage.kt
  app/src/main/java/com/mimo/android/presentation/util/FileManager.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/ProgressRequestBody.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoFragment.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoUiState.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoViewModel.kt
  app/src/main/res/layout/fragment_upload_video.xml
Labels: 📱Feat, 🎨UI

#39 Feat/current location marker
  app/src/main/.DS_Store
  app/src/main/java/com/mimo/android/core/di/ApiModule.kt
  app/src/main/java/com/mimo/android/core/di/DataSourceModule.kt
  app/src/main/java/com/mimo/android/core/di/NetworkModule.kt
  app/src/main/java/com/mimo/android/core/di/RepositoryModule.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/MapRemoteDataSource.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/MapRemoteDataSourceImpl.kt
  app/src/main/java/com/mimo/android/data/model/response/ApiResponse.kt
  app/src/main/java/com/mimo/android/data/model/response/MarkerResponse.kt
  app/src/main/java/com/mimo/android/data/network/api/MapApi.kt
  app/src/main/java/com/mimo/android/data/repository/MapRepository.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/MapRepositoryImpl.kt
  app/src/main/java/com/mimo/android/domain/model/MarkerData.kt
  app/src/main/java/com/mimo/android/presentation/base/BaseMapFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MapFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MapViewModel.kt
  app/src/main/java/com/mimo/android/presentation/util/MapUtil.kt
  app/src/main/res/drawable/rectangle_fill_light_purple_radius_40.xml
  app/src/main/res/layout/fragment_map.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/string-map.xml
  app/src/main/res/values/typography.xml
Labels: 📱Feat, 🎨UI

#41 MainActivity에서 뒤로가기시 SplashActivity 남아 있는 오류
  app/src/main/java/com/mimo/android/core/di/ApiModule.kt
  app/src/main/java/com/mimo/android/core/di/DataSourceModule.kt
  app/src/main/java/com/mimo/android/core/di/NetworkModule.kt
  app/src/main/java/com/mimo/android/core/di/RepositoryModule.kt
  app/src/main/java/com/mimo/android/presentation/login/LoginActivity.kt
  app/src/main/java/com/mimo/android/presentation/splash/SplashActivity.kt
Labels: 📱Feat, 🔨Fix

#43 feat(#42) : 마커 Model 변경
  app/src/main/java/com/mimo/android/core/di/NetworkModule.kt
  app/src/main/java/com/mimo/android/data/model/response/MarkerResponse.kt
  app/src/main/java/com/mimo/android/domain/model/MarkerData.kt
Labels: 📱Feat

#45 게시글 작성 로직 변경 및 PlayerView 연결, 디비 수정 반영
  app/src/main/java/com/mimo/android/domain/model/PostData.kt
  app/src/main/java/com/mimo/android/presentation/splash/SplashActivity.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoEvent.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoFragment.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoViewModel.kt
  app/src/main/res/drawable/ic_upload_video.xml
  app/src/main/res/layout/fragment_upload_video.xml
  app/src/main/res/values/string-video.xml
Labels: 📱Feat, 🎨UI

#46 Feat : 단일 마커 클릭 이벤트
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mimo/android/core/di/NetworkModule.kt
  app/src/main/java/com/mimo/android/domain/model/MarkerData.kt
  app/src/main/java/com/mimo/android/domain/model/PostData.kt
  app/src/main/java/com/mimo/android/presentation/map/MapFragment.kt
  app/src/main/java/com/mimo/android/presentation/util/MapUtil.kt
  app/src/main/java/com/mimo/android/presentation/videodetail/VideoDetailActivity.kt
  app/src/main/res/layout/activity_video_detail.xml
  app/src/main/res/navigation/main_nav_graph.xml
  build.gradle.kts
Labels: 📱Feat, 🎨UI

#50 동영상 썸네일 추출 및 로딩 구현
  app/build.gradle.kts
  app/src/main/java/com/mimo/android/core/MimoApplication.kt
  app/src/main/java/com/mimo/android/core/di/ApiModule.kt
  app/src/main/java/com/mimo/android/core/di/RepositoryModule.kt
  app/src/main/java/com/mimo/android/presentation/dialog/LoadingDialog.kt
  app/src/main/java/com/mimo/android/presentation/util/ErrorMessage.kt
  app/src/main/java/com/mimo/android/presentation/video/VideoThumbnailUtil.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/ProgressRequestBody.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/ThumbNailAdapter.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoBindingAdpater.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoEvent.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoFragment.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoUiState.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoViewModel.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/VideoThumbnail.kt
  app/src/main/res/drawable/clip.png
  app/src/main/res/layout/dialog_loading.xml
  app/src/main/res/layout/fragment_upload_video.xml
  app/src/main/res/layout/item_video_thumbnail.xml
  app/src/main/res/values/array.xml
  app/src/main/res/values/dimen.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: 📱Feat, 🎨UI
