Repository mini-moment/mimo-android, pull requests merged in 2024-04, with the labels that each got.

#2 개발 환경 초기 세팅
  .github/ISSUE_TEMPLATE/auto-labeler.yml
  app/.gitignore
  app/build.gradle.kts
  app/proguard-rules.pro
  app/src/androidTest/java/com/mimo/android/ExampleInstrumentedTest.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mimo/android/presentation/MainActivity.kt
  app/src/main/java/com/mimo/android/presentation/base/BaseActivity.kt
  app/src/main/java/com/mimo/android/presentation/base/BaseFragment.kt
  app/src/main/res/drawable/ic_launcher_background.xml
  app/src/main/res/drawable/ic_launcher_foreground.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/mipmap-anydpi/ic_launcher.xml
  app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
  app/src/main/res/xml/backup_rules.xml
  app/src/main/res/xml/data_extraction_rules.xml
  app/src/test/java/com/mimo/android/ExampleUnitTest.kt
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle.kts
Labels: ⚙️Setting, 📂Chore

#5 UI/splash
  .github/workflows/auto-labeler.yml
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mimo/android/presentation/splash/SplashActivity.kt
  app/src/main/res/drawable/splash_logo.png
  app/src/main/res/font/pretendard_bold.otf
  app/src/main/res/font/pretendard_light.otf
  app/src/main/res/font/pretendard_medium.otf
  app/src/main/res/font/pretendard_regular.otf
  app/src/main/res/font/pretendard_semi_bold.otf
  app/src/main/res/layout/activity_splash.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/string-splash.xml
  app/src/main/res/values/typography.xml
Labels: 🎨UI, ⚙️Setting, 📂Chore

#7 바텀네비게이션 연결
  .github/labeler.yml
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mimo/android/core/MimoApplication.kt
  app/src/main/java/com/mimo/android/presentation/MainActivity.kt
  app/src/main/java/com/mimo/android/presentation/base/BaseActivity.kt
  app/src/main/java/com/mimo/android/presentation/base/BaseFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MapFragment.kt
  app/src/main/java/com/mimo/android/presentation/mypage/MyPageFragment.kt
  app/src/main/java/com/mimo/android/presentation/splash/SplashActivity.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_map.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/menu/menu_main.xml
  app/src/main/res/navigation/main_nav_graph.xml
  app/src/main/res/values/string-main.xml
  app/src/main/res/values/strings.xml
Labels: 📱Feat

#9 로그인 UI 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mimo/android/presentation/login/LoginActivity.kt
  app/src/main/res/drawable/login_naver.png
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/values/string-login.xml
Labels: 📱Feat, 🎨UI

#13 Feat : 네이버 지도 API
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mimo/android/presentation/base/BaseFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MapFragment.kt
  app/src/main/java/com/mimo/android/presentation/util/PermissionUtil.kt
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/fragment_map.xml
  build.gradle.kts
  settings.gradle.kts
Labels: 📱Feat, 🎨UI

#17 Chore : Hilt 세팅하기
  app/build.gradle.kts
  app/src/main/java/com/mimo/android/core/MimoApplication.kt
  app/src/main/java/com/mimo/android/core/di/ApiModule.kt
  app/src/main/java/com/mimo/android/core/di/DataSourceModule.kt
  app/src/main/java/com/mimo/android/core/di/DataStoreModule.kt
  app/src/main/java/com/mimo/android/core/di/NetworkModule.kt
  app/src/main/java/com/mimo/android/core/di/RepositoryModule.kt
  app/src/main/java/com/mimo/android/data/repository/DataStoreRepository.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/DataStoreRepositoryImpl.kt
  app/src/main/java/com/mimo/android/presentation/MainActivity.kt
  app/src/main/java/com/mimo/android/presentation/login/LoginActivity.kt
  app/src/main/java/com/mimo/android/presentation/login/LoginViewModel.kt
  app/src/main/java/com/mimo/android/presentation/splash/SplashActivity.kt
  app/src/main/java/com/mimo/android/presentation/splash/SplashViewModel.kt
Labels: 📱Feat
