Repository mini-moment/mimo-android, pull requests merged in 2024-07, with the labels that each got.

#74 내가 올린 게시글 UI 및 서버 통신 코드 완료
  app/src/main/java/com/mimo/android/data/datasource/remote/PostRemoteDataSource.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/PostRemoteDataSourceImpl.kt
  app/src/main/java/com/mimo/android/data/network/api/PostApi.kt
  app/src/main/java/com/mimo/android/data/repository/PostRepository.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/PostRepositoryImpl.kt
  app/src/main/java/com/mimo/android/domain/model/PostData.kt
  app/src/main/java/com/mimo/android/presentation/component/adapter/MyPostAdapter.kt
  app/src/main/java/com/mimo/android/presentation/component/bindingadapter/ImageBindingAdapter.kt
  app/src/main/java/com/mimo/android/presentation/mypage/MyPageFragment.kt
  app/src/main/java/com/mimo/android/presentation/mypage/MyPageViewModel.kt
  app/src/main/res/drawable/player.xml
  app/src/main/res/drawable/rectangle_fill_gray_radius_10.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/layout/item_my_post.xml
Labels: 📱Feat, 🎨UI

#76 바텀시트 UI 변경
  app/src/main/java/com/mimo/android/data/model/response/PostListResponse.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/PostRepositoryImpl.kt
  app/src/main/java/com/mimo/android/domain/model/MarkerData.kt
  app/src/main/java/com/mimo/android/domain/model/PostData.kt
  app/src/main/java/com/mimo/android/presentation/base/BaseBottomSheetDialogFragment.kt
  app/src/main/java/com/mimo/android/presentation/base/BaseFragment.kt
  app/src/main/java/com/mimo/android/presentation/base/BaseMapFragment.kt
  app/src/main/java/com/mimo/android/presentation/component/adapter/MapClusterAdapter.kt
  app/src/main/java/com/mimo/android/presentation/component/adapter/TagListAdapter.kt
  app/src/main/java/com/mimo/android/presentation/component/adapter/ThumbNailAdapter.kt
  app/src/main/java/com/mimo/android/presentation/component/bindingadapter/BottomSheetBindingAdapter.kt
  app/src/main/java/com/mimo/android/presentation/component/bindingadapter/ImageBindingAdapter.kt
  app/src/main/java/com/mimo/android/presentation/dialog/LoadingDialog.kt
  app/src/main/java/com/mimo/android/presentation/map/MapClusterBottomSheetDialogFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MapFragment.kt
  app/src/main/java/com/mimo/android/presentation/util/ErrorMessage.kt
  app/src/main/res/layout/fragment_map_cluster_bottom_sheet_dialog.xml
  app/src/main/res/layout/item_cluster.xml
Labels: 📱Feat, 🎨UI

#78 지도 롱 클릭 이벤트 처리
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mimo/android/presentation/MainActivity.kt
  app/src/main/java/com/mimo/android/presentation/component/bindingadapter/ImageBindingAdapter.kt
  app/src/main/java/com/mimo/android/presentation/map/MapFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MarkerBottomSheetDialogFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MarkerEvent.kt
  app/src/main/java/com/mimo/android/presentation/util/MapUtil.kt
  app/src/main/java/com/mimo/android/presentation/video/VideoActivity.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoActivity.kt
  app/src/main/res/drawable/pin.png
  app/src/main/res/layout/activity_upload_video.xml
  app/src/main/res/layout/activity_video.xml
  app/src/main/res/layout/fragment_map.xml
  app/src/main/res/layout/fragment_marker_bottom_sheet_dialog.xml
  app/src/main/res/navigation/main_nav_graph.xml
  app/src/main/res/navigation/video_nav_graph.xml
  app/src/main/res/values/string-video.xml
  build.gradle.kts
Labels: 📱Feat, 🎨UI

#83 mimo API 서버 URL BuildConfig 변수 생성 및 적용
  app/build.gradle.kts
  app/src/main/java/com/mimo/android/core/di/NetworkModule.kt
  app/src/main/java/com/mimo/android/presentation/component/adapter/PostDetailListAdapter.kt
  app/src/main/java/com/mimo/android/presentation/component/bindingadapter/ImageBindingAdapter.kt
Labels: 📱Feat, 💪Refactor, 💡 Enhance

#86 UI 수정
  app/src/main/java/com/mimo/android/presentation/component/bindingadapter/BottomSheetBindingAdapter.kt
  app/src/main/java/com/mimo/android/presentation/component/bindingadapter/UploadVideoBindingAdpater.kt
  app/src/main/java/com/mimo/android/presentation/component/bindingadapter/VideoDetailBindingAdapter.kt
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/item_post.xml
  app/src/main/res/layout/item_tag.xml
  app/src/main/res/values/typography.xml
Labels: 📱Feat, 🎨UI

#87 썸네일 로딩 프로그래스 구현
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoActivity.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoUiState.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoViewModel.kt
  app/src/main/res/drawable/rectangle_fill_gray_radius_10.xml
  app/src/main/res/layout/activity_upload_video.xml
Labels: 📱Feat, 🎨UI

#89 네비게이션 UI 수정
  app/src/main/java/com/mimo/android/presentation/MainActivity.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/menu/menu_main.xml
  app/src/main/res/navigation/main_nav_graph.xml
  app/src/main/res/values/string-main.xml
  app/src/main/res/values/themes.xml
Labels: 🎨UI

#96 동영상 업로드 페이지 버그 해결
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  libs/build.gradle.kts
  libs/oauth-5.9.1.aar
  presentation/build.gradle.kts
  presentation/src/main/java/com/mimo/presentation/component/bindingadapter/UploadVideoBindingAdpater.kt
  presentation/src/main/java/com/mimo/presentation/map/MapFragment.kt
  presentation/src/main/java/com/mimo/presentation/upload_video/UploadVideoViewModel.kt
  presentation/src/main/res/drawable/button_background_selector.xml
  presentation/src/main/res/drawable/button_disabled.xml
  presentation/src/main/res/drawable/button_enable.xml
  presentation/src/main/res/layout/activity_upload_video.xml
  presentation/src/main/res/layout/item_my_post.xml
  presentation/src/main/res/values/colors.xml
  settings.gradle.kts
Labels: 📱Feat, 🎨UI, 🔨Fix

#98 유저 로그아웃
  data/src/main/java/com/mimo/data/api/UserApi.kt
  data/src/main/java/com/mimo/data/datasource/remote/UserRemoteDataSource.kt
  data/src/main/java/com/mimo/data/datasource/remote/UserRemoteDataSourceImpl.kt
  data/src/main/java/com/mimo/data/model/UserLoginResponse.kt
  data/src/main/java/com/mimo/data/repositoryimpl/UserRepositoryImpl.kt
  domain/src/main/java/com/mimo/domain/repository/UserRepository.kt
  presentation/src/main/java/com/mimo/presentation/login/LoginActivity.kt
  presentation/src/main/java/com/mimo/presentation/login/LoginViewModel.kt
  presentation/src/main/java/com/mimo/presentation/mypage/MyPageFragment.kt
  presentation/src/main/java/com/mimo/presentation/mypage/MyPageViewEvent.kt
  presentation/src/main/java/com/mimo/presentation/mypage/MyPageViewModel.kt
  presentation/src/main/java/com/mimo/presentation/util/ErrorMessage.kt
  presentation/src/main/res/drawable/ic_add.xml
  presentation/src/main/res/drawable/ic_upload.png
  presentation/src/main/res/layout/fragment_my_page.xml
  presentation/src/main/res/layout/item_tag.xml
  presentation/src/main/res/menu/menu_main.xml
Labels: 📱Feat, 🎨UI

#99 회원탈퇴
  data/src/main/java/com/mimo/data/api/UserApi.kt
  data/src/main/java/com/mimo/data/datasource/remote/UserRemoteDataSource.kt
  data/src/main/java/com/mimo/data/datasource/remote/UserRemoteDataSourceImpl.kt
  data/src/main/java/com/mimo/data/model/UnRegisterResponse.kt
  data/src/main/java/com/mimo/data/repositoryimpl/UserRepositoryImpl.kt
  domain/src/main/java/com/mimo/domain/repository/UserRepository.kt
  presentation/src/main/java/com/mimo/presentation/mypage/MyPageFragment.kt
  presentation/src/main/java/com/mimo/presentation/mypage/MyPageViewEvent.kt
  presentation/src/main/java/com/mimo/presentation/mypage/MyPageViewModel.kt
Labels: 📱Feat

#105 네이버 로그아웃 구현
  domain/src/main/java/com/mimo/domain/model/User.kt
  presentation/src/main/java/com/mimo/presentation/login/LoginViewModel.kt
  presentation/src/main/java/com/mimo/presentation/login/NaverLoginManager.kt
  presentation/src/main/java/com/mimo/presentation/login/SplashViewModel.kt
  presentation/src/main/java/com/mimo/presentation/mypage/MyPageViewModel.kt
Labels: 📱Feat
