Repository mini-moment/mimo-android, pull requests merged in 2024-06, with the labels that each got.

#52 동영상 타임라인 구현 및 재생 관리
  app/src/main/java/com/mimo/android/domain/model/VideoThumbnail.kt
  app/src/main/java/com/mimo/android/presentation/util/VideoThumbnailUtil.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/ThumbNailAdapter.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoBindingAdpater.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoEvent.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoFragment.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoUiState.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoViewModel.kt
  app/src/main/res/layout/custom_player_controller.xml
  app/src/main/res/layout/fragment_upload_video.xml
Labels: 📱Feat, 🎨UI

#56 Feat : 클러스터 클릭시 바텀시트
  app/build.gradle.kts
  app/src/main/java/com/mimo/android/core/MimoApplication.kt
  app/src/main/java/com/mimo/android/presentation/base/BaseBottomSheetDialogFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MapClusterBottomSheetDialogFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MapFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MapViewModel.kt
  app/src/main/java/com/mimo/android/presentation/map/adapter/MapClusterAdapter.kt
  app/src/main/java/com/mimo/android/presentation/util/LocationUtil.kt
  app/src/main/java/com/mimo/android/presentation/util/MapUtil.kt
  app/src/main/java/com/mimo/android/presentation/util/SizeUtil.kt
  app/src/main/res/drawable-hdpi/perfil.png
  app/src/main/res/drawable-mdpi/perfil.png
  app/src/main/res/drawable-xhdpi/perfil.png
  app/src/main/res/drawable-xxhdpi/perfil.png
  app/src/main/res/drawable-xxxhdpi/perfil.png
  app/src/main/res/layout/fragment_map_cluster_bottom_sheet_dialog.xml
  app/src/main/res/layout/item_cluster.xml
  app/src/main/res/navigation/main_nav_graph.xml
Labels: 📱Feat, 🎨UI

#57 동영상 편집 구현
  app/src/main/java/com/mimo/android/presentation/util/ErrorMessage.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoEvent.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoFragment.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoViewModel.kt
Labels: 📱Feat

#59 유저 프로필 이미지 불러오기
  app/src/main/java/com/mimo/android/data/model/request/UserRequest.kt
  app/src/main/java/com/mimo/android/data/model/response/LoginResponse.kt
  app/src/main/java/com/mimo/android/data/network/login/NaverLoginManager.kt
  app/src/main/java/com/mimo/android/presentation/login/LoginViewModel.kt
Labels: 📱Feat

#62 마이페이지 UI
  app/src/main/java/com/mimo/android/domain/model/PostData.kt
  app/src/main/java/com/mimo/android/presentation/mypage/MyPageFragment.kt
  app/src/main/java/com/mimo/android/presentation/mypage/adapter/MyPostAdapter.kt
  app/src/main/java/com/mimo/android/presentation/util/DiffUtilCallback.kt
  app/src/main/res/drawable/ic_arrow_right_24.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/layout/item_cluster.xml
  app/src/main/res/layout/item_my_post.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/string-mypage.xml
Labels: 📱Feat, 🎨UI

#63 게시글 썸네일 추출 및 저장
  app/src/main/java/com/mimo/android/data/datasource/remote/PostRemoteDataSource.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/PostRemoteDataSourceImpl.kt
  app/src/main/java/com/mimo/android/data/network/api/PostApi.kt
  app/src/main/java/com/mimo/android/data/repository/PostRepository.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/PostRepositoryImpl.kt
  app/src/main/java/com/mimo/android/presentation/util/FileManager.kt
  app/src/main/java/com/mimo/android/presentation/util/VideoThumbnailUtil.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoFragment.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoViewModel.kt
Labels: 📱Feat

#66 멀티파트 처리 코드 분리
  app/src/main/java/com/mimo/android/data/repository/PostRepository.kt
  app/src/main/java/com/mimo/android/data/repository/VideoRepository.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/PostRepositoryImpl.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/VideoRepositoryImpl.kt
  app/src/main/java/com/mimo/android/data/util/MultiPartUtil.kt
  app/src/main/java/com/mimo/android/presentation/util/FileManager.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoFragment.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoViewModel.kt
  app/src/main/res/values/string-video.xml
Labels: 💪Refactor, 💡 Enhance

#68 어뎁터 패키지 분리
  app/src/main/java/com/mimo/android/core/di/NetworkModule.kt
  app/src/main/java/com/mimo/android/presentation/component/adapter/DiffUtilCallback.kt
  app/src/main/java/com/mimo/android/presentation/component/adapter/MapClusterAdapter.kt
  app/src/main/java/com/mimo/android/presentation/component/adapter/MyPostAdapter.kt
  app/src/main/java/com/mimo/android/presentation/component/adapter/TagListAdapter.kt
  app/src/main/java/com/mimo/android/presentation/component/adapter/ThumbNailAdapter.kt
  app/src/main/java/com/mimo/android/presentation/component/bindingadapter/UploadVideoBindingAdpater.kt
  app/src/main/java/com/mimo/android/presentation/map/MapClusterBottomSheetDialogFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MapFragment.kt
  app/src/main/java/com/mimo/android/presentation/mypage/MyPageFragment.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoFragment.kt
Labels: 💪Refactor

#70 게시글 위치 정보 추가
  app/src/main/java/com/mimo/android/data/datasource/remote/PostRemoteDataSource.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/PostRemoteDataSourceImpl.kt
  app/src/main/java/com/mimo/android/data/model/request/InsertPostRequest.kt
  app/src/main/java/com/mimo/android/data/network/api/PostApi.kt
  app/src/main/java/com/mimo/android/data/repository/PostRepository.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/PostRepositoryImpl.kt
  app/src/main/java/com/mimo/android/presentation/util/ErrorMessage.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoFragment.kt
  app/src/main/java/com/mimo/android/presentation/video/upload/UploadVideoViewModel.kt
Labels: 📱Feat

#71 Feat : 포스트 데이터로 변경 및 클릭시 데이터 넘겨주는 부분 수정
  app/src/main/java/com/mimo/android/core/di/NetworkModule.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/MapRemoteDataSourceImpl.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/PostRemoteDataSource.kt
  app/src/main/java/com/mimo/android/data/datasource/remote/PostRemoteDataSourceImpl.kt
  app/src/main/java/com/mimo/android/data/model/response/PostListResponse.kt
  app/src/main/java/com/mimo/android/data/network/api/PostApi.kt
  app/src/main/java/com/mimo/android/data/repository/PostRepository.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/MapRepositoryImpl.kt
  app/src/main/java/com/mimo/android/data/repositoryimpl/PostRepositoryImpl.kt
  app/src/main/java/com/mimo/android/domain/model/MarkerData.kt
  app/src/main/java/com/mimo/android/domain/model/PostData.kt
  app/src/main/java/com/mimo/android/presentation/component/adapter/MapClusterAdapter.kt
  app/src/main/java/com/mimo/android/presentation/component/adapter/MyPostAdapter.kt
  app/src/main/java/com/mimo/android/presentation/component/bindingadapter/ImageBindingAdapter.kt
  app/src/main/java/com/mimo/android/presentation/map/MapClusterBottomSheetDialogFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MapFragment.kt
  app/src/main/java/com/mimo/android/presentation/map/MapViewModel.kt
  app/src/main/java/com/mimo/android/presentation/map/MarkerEvent.kt
  app/src/main/java/com/mimo/android/presentation/util/MapUtil.kt
  app/src/main/java/com/mimo/android/presentation/util/UiStateUtil.kt
  app/src/main/java/com/mimo/android/presentation/videodetail/VideoDetailActivity.kt
  app/src/main/res/layout/item_cluster.xml
  app/src/main/res/navigation/main_nav_graph.xml
Labels: 📱Feat, 🎨UI
