Repository mini-moment/mimo-android, pull requests merged in 2024-08, with the labels that each got.

#107 영상 클릭 시 바로 가기 버그 해결
  presentation/src/main/java/com/mimo/presentation/component/adapter/PostDetailListAdapter.kt
  presentation/src/main/java/com/mimo/presentation/component/bindingadapter/VideoDetailBindingAdapter.kt
  presentation/src/main/java/com/mimo/presentation/video_detail/VideoDetailActivity.kt
  presentation/src/main/java/com/mimo/presentation/video_detail/VideoDetailUiState.kt
  presentation/src/main/java/com/mimo/presentation/video_detail/VideoDetailViewModel.kt
  presentation/src/main/res/layout/activity_video_detail.xml
Labels: 📱Feat, 🎨UI, 🔨Fix

#110 동영상 썸네일 추출 성능 개선
  presentation/src/main/java/com/mimo/presentation/util/VideoThumbnailUtil.kt
Labels: 📱Feat, 💡 Enhance

#113 UI : 마이페이지 엠티 뷰
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/themes.xml
  data/src/main/java/com/mimo/data/repositoryimpl/PostRepositoryImpl.kt
  domain/src/main/java/com/mimo/domain/repository/PostRepository.kt
  gradle/libs.versions.toml
  presentation/build.gradle.kts
  presentation/src/main/java/com/mimo/presentation/MainActivity.kt
  presentation/src/main/java/com/mimo/presentation/mypage/MyPageFragment.kt
  presentation/src/main/java/com/mimo/presentation/mypage/MyPageViewModel.kt
  presentation/src/main/res/layout/fragment_my_page.xml
  presentation/src/main/res/layout/item_my_post.xml
  presentation/src/main/res/values/string-mypage.xml
Labels: 📱Feat, 🎨UI

#115 타임 라인 라벨 위치 조정
  presentation/src/main/java/com/mimo/presentation/upload_video/UploadVideoActivity.kt
Labels: 🎨UI
